.screen-header {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 15px var(--horizontal-space);
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}


@keyframes rotateCog {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.screen-header__icons .fa-cog:hover {
    animation: rotateCog 3s linear infinite;
}